Pillow>=9.5.0
numpy>=1.24.3
opencv-python>=4.7.0.72
aioboto3>=14.1.0
requests>=2.30.0
gradio-client>=0.3.0
tqdm>=4.65.0
rich>=10.16.2
joblib>=1.2.0
more-itertools>=9.1.0
shapely>=2.0.1
IPython>=8.12.0
ipykernel>=6.29.5
bson>=0.5.10
dexlib==0.1.12-dev
pyfunctional>=1.5.0

doc-toolbox[pdf,excel,ocr]>=0.2.3